*.DS_Store
*.cam
*.dat
!kyogre.dat
!groudon.dat
!raikou.dat
!suicune.dat
!entei.dat
*.fnt
*.msg
*.fsys
*.scd
*.proj
*.pool
*.sdir
*.bin
*.rel
*.json
*.gsw
.pkx
*.psd
*.xds
!M5_labo_1F.scd.xds
*.txt
!kyogre.txt
!groudon.txt
!raikou.txt
!suicune.txt
!entei.txt

